// @mixin font($fw, $fs, $fh, $ls) {
//   font-weight: $fw;
//   font-size: $fs;
//   line-height: $fh;
//   letter-spacing: $ls;
// }
// @mixin tel {
//   @media screen and (min-width: 480px) {
//     @content;
//   }
// }
// @mixin tablet {
//   @media screen and (min-width: 768px) {
//     @content;
//   }
// }
// @mixin desktop {
//   @media screen and (min-width: 1200px) {
//     @content;
//   }
// }
// @mixin tel-max {
//   @media screen and (max-width: 767px) {
//     @content;
//   }
// }
// @mixin retina {
//   @media (min-device-pixel-ratio: 2), 
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   @content;
//   }
// }