:root {
  --primery-text-color: #757575;
  --second-text-color: #2196f3;
  --third-text-color: #ffffff;
  --fourth-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --primary-bg-color: #2196f3;
}