<footer class="footer">
  <div class="footer__letter">
    <h3 class="footer__letter-title">Newsletter</h3>
    <div class="footer__letter-form">
      <input type="email" class="footer__letter-form-input" name="email"
         id="email" autocomplete="on" placeholder="Email Address">
      <div class="footer__letter-form-icon">
         <button type="submit"
            class="footer__letter-button">---&gt</button>
         <!-- <svg width="24" height="24" class="footer-form__btn-icon">
            <use href="./images/icons.svg#icon-send"></use>
         </svg> -->
      </div>
    </div>
    <p class="footer__letter-text">Sign up to our newsletter for special 
      things and receive 10% off your next order.</p>
      <!-- <div lass="footer__letter-box"> -->
        <p class="footer__letter-symbol">&copy; 2021 The Glass Huts</p>
      <!-- </div> -->
  </div>  
  <div class="footer__box">
    <ul class="footer__box-list">
      <li class="footer__box-item"><a  class="footer__box-link" href="">Terms and conditions</a></li>
      <li class="footer__box-item"><a  class="footer__box-link" href="">Cencellation polycy</a></li>
      <li class="footer__box-item"><a  class="footer__box-link" href="">Privacy polycy</a></li>
    </ul>
    <Ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </Ul>
  </div>

</footer>