  <div class='container'>
  <header class="page-header">
    <a href="" class="page-header__logo-link">
      <svg width="70" height="64">
        <use href="./images/icons.svg#logo"></use>
      </svg>
    </a>
    <ul class="page-header__nav-list">
      <li class="page-header__nav-item"><a href="index.html" class="page-header__nav-link"
          rel="noopener noreferrer nofollow">Home</a></li>
      <li class="page-header__nav-item"><a href="hut.html" class="page-header__nav-link"
          rel="noopener noreferrer nofollow">The
          hut</a></li>
      <li class="page-header__nav-item"><a href="area.html" class="page-header__nav-link"
          rel="noopener noreferrer nofollow">The
          area</a></li>
      <li class="page-header__nav-item"><a href="booking.html" class="page-header__nav-link"
          rel="noopener noreferrer nofollow">booking</a></li>
      <li class="page-header__nav-item"><a href="about_us.html" class="page-header__nav-link"
          rel="noopener noreferrer nofollow">About us</a></li>
      <li class="page-header__nav-item"><a href="faq.html" class="page-header__nav-link"
          rel="noopener noreferrer nofollow">Faq</a></li>
    </ul>
    <form action="booking.html">
      <button  class="page-header__button">Book now</button>
     </form>
    
  </header>
</div>