.page-header {
  position: relative;
  width: 100%;
  height: 100px;
  padding-top: 38px;
  padding-bottom: 38px;
  // box-shadow:  2px 0px 20px
  // rgba(0, 0, 0, 0.08);
  &__logo-link {
    position: absolute;
    top: 50%;
    left: 145px;
    transform: translateY(-50%);
    // background-color: green;
  }
  &__logo {
    fill: #333333;
  }
  &__nav-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  &__nav-item {
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
  }
  &__nav-item:not(:last-child) {
    margin-right: 35px;
  }

  &__nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #000;
  }
  &__button {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 200px;
    height: 60px;
    margin-left: auto;
    color: #ffffff;
    background-color: #5b6460;
    font-family: roboto;
    font-style: 300;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
  }
  &__button:hover,
  &__button:focus {
    cursor: pointer;
  }
}
