<section class="cabins">
  <div class="cabins__top">
    <div class="cabins__content">
      <h2 class="cabins__title">The Cabins</h2>
      <p class="cabins__text">Løvtag’s three exclusive and comfortable
        cabins,
        Et, Ro and Ly,
        are designed by architect Sigurd Larsen. They all have an open space
        with a double bed, a double sofa bed, kitchen, separate toilet and
        an
        outdoor shower. On the roof, surrounded by treetops, there is a
        terrace,
        which is about nine meters above ground. The cottages are built
        around
        tall,
        old trees that go through the entire cottage from floor to ceiling.
      </p>
      <button type="button" class="cabins__button">Read More</button>
    </div>
    <img class="cabins__img1" src="./images/home/cabins1.jpg" alt="">
  </div>
  <ul class="cabins__gallery-list">
    <li class="cabins__gallery-item">
      <a href="" rel="noopener noreferrer nofollow">
        <img src="./images/home/cabins2.jpg" alt="">
      </a>
    </li>
    <li class="cabins__gallery-item">
      <a href="" rel="noopener noreferrer nofollow">
        <img src="./images/home/cabins3.jpg" alt="">
      </a>
    </li>
    <li class="cabins__gallery-item">
      <a href="" rel="noopener noreferrer nofollow">
        <img src="./images/home/cabins4.jpg" alt="">
      </a>
    </li>
  </ul>
</section>