<section class="contacts">
  <div class="contacts__content">
    <h2 class="contacts__title">Stay in touch with us</h2>
    <p class="contacts__text"> Vesterborg, Denmark</p>
    <ul class="contacts__list">
      <li class="contacts__item"><a class="contacts__item-link" href="tel:+123456789000">+123 456 789
          000</a></li>
      <li class="contacts__item"><a class="contacts__item-link" 
          href="mailto:info@theglasshuts.com">info@devstudio.com</a></li>
    </ul>
    <ul class="contacts__social">
      <li class="contacts__social-item"><a href="#"
          class="contacts__social-link">
          <svg width="21" height="21"
            class="contacts__social-icons">
            <use href="./images/icons.svg#instagram"></use>
          </svg></a></li>
      <li class="contacts__social-item"><a href="#"
          class="contacts__social-link">
          <svg width="21" height="21"
            class="contacts__social-icons">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a></li>
      <li class="contacts__social-item"><a href="#"
          class="contacts__social-link">
          <svg width="21" height="21"
            class="contacts__social-icons">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a></li>
    </ul>
  </div>
   <div class="contacts__booking">
    <picture class="contacts__img">
      <source srcset="./images/home/contacts.jpg 1x, 
        ./images/home/contacts-2x.jpg 2x">
      <img srcset="./images/home/contacts.jpg 1x,
        ./images/home/contacts-2x.jpg 2x" 
        src="./images/home/contacts.jpg" width="385"
        height="190">
    </picture>
    <div class="contacts__box">
      <button class="contacts__button" type="button">Book a hut</button>
      <p class="contacts__price">from <span class="contacts__price-euro">€3.200</span><br><span class="contacts__price-per-night">per night</span></p>    
    </div>

  </div> 
</section>