<div class='container'>
<section class="facilities">
  <h2 class="facilities__title">Facilities</h2>
  <ul class="facilities__list">
    <li class="facilities__item"><svg width="130" height="70"
        class="facilities=icon">
        <use href="./images/icons.svg#fridge"></use>
      </svg>
      <p class="facilities__sign">Mini fridge</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#kitchen"></use>
      </svg>
      <p class="facilities__sign">Kitchenette</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#coffee"></use>
      </svg>
      <p class="facilities__sign">Coffee machine</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#kettl"></use>
      </svg>
      <p class="facilities__sign">Electric tea kettle</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#park"></use>
      </svg>
      <p class="facilities__sign">Parking</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#trees"></use>
      </svg>
      <p class="facilities__sign">Breathtaking views</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#temperature"></use>
      </svg>
      <p class="facilities__sign">Floor heating</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#plug"></use>
      </svg>
      <p class="facilities__sign">230V</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#wifi"></use>
      </svg>
      <p class="facilities__sign">WiFi</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#shower"></use>
      </svg>
      <p class="facilities__sign">Shower</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#toilet"></use>
      </svg>
      <p class="facilities__sign">Flushing toilets</p>
    </li>
    <li class="facilities__item"><svg width="130" height="70">
        <use href="./images/icons.svg#towels"></use>
      </svg>
      <p class="facilities__sign">Bedding & towels</p>
    </li>
  </ul>
</section>
</div>