<section class="forest">
  <div class="forest__map">
    <a class="forest__link" href="" rel="noopener noreferrer nofollow">
      <img class="forest__img" src="./images/map.jpg" alt="" </a>
  </div>
  <div class="forest__content">
    <h2 class="forest__title">The Forest</h2>
    <p class="forest__text">Løvtag’s three exclusive and comfortable cabins,
      Et, Ro and Ly, are designed by architect Sigurd Larsen.
      They all have an open space with a double bed, a double sofa bed,
      kitchen, separate toilet and an outdoor shower. On the roof,
      surrounded by treetops, there is a terrace, which is about nine
      meters
      above ground.
      The cottages are built around tall, old trees that go through the
      entire
      cottage from floor to ceiling.
    </p>
    <button class="forest__button" type="button">Read More</button>
  </div>
</section>