<section class="about">
  <h2 class="visually-hidden">About us</h2>
  <ul class="about__list">
    <li class="about__item">
      <picture>
        <source srcset="./images/about1.jpg 1x, 
          ./images/about1-2x.jpg 2x">
        <img srcset="./images/about1.jpg 1x,
          ./images/about1-2x.jpg 2x" 
          src="./images/about1.jpg" width="700"
          height="560">
      </picture>
    </li>
    <li class="about__item">
      <picture>
        <source srcset="./images/about2.jpg 1x,
          ./images/about2-2x.jpg 2x">
        <img srcset="./images/about2.jpg 1x,
          ./images/about2-2x.jpg 2x" 
          src="./images/about2.jpg" width="700"
          height="560">
      </picture>
    </li>
  </ul>
  <a href="" rel="noopener noreferrer nofollow">
    <button class="about__button" type="button">More about us
    </button>
  </a>
</section>