<div class='container'>
<section class="about">
  <h2 class="visually-hidden">About us</h2>
  <ul class="about__list">
    <li class="about__item">
      <picture>
        <source srcset="./images/home/about1.jpg 1x, 
          ./images/home/about1-2x.jpg 2x">
        <img class="about__img" srcset="./images/home/about1.jpg 1x,
          ./images/home/about1-2x.jpg 2x" 
          src="./images/home/about1.jpg" 
          >
      </picture>
    </li>
    <li class="about__item">
      <picture>
        <source srcset="./images/home/about2.jpg 1x,
          ./images/home/about2-2x.jpg 2x">
        <img class="about__img" srcset="./images/home/about2.jpg 1x,
          ./images/home/about2-2x.jpg 2x" 
          src="./images/home/about2.jpg" 
          >
      </picture>
    </li>
  </ul>
  <form action="about_us.html">
    <button class="about__button" >More about us</button>
   </form>
</section>
</div>