@import "./sass/utils/vars";
// @import "./sass/utils/mixin";
// @import "./sass/utils/placeholder";
@import "./sass/base/reset";
@import './sass/base/visually-hidden';
//! @import './sass/layouts/slider';

// @import "./sass/base/common";
// @import './sass/components/buttons';
// @import './sass/components/links';
@import "./sass/components/container";

@import "./sass/layout/header";
@import "./sass/layout/hut/hut_pictures.scss";
@import "./sass/layout/hut/outside.scss";
@import "./sass/layout/hut/inside.scss";
@import "./sass/layout/hut/practicalities.scss";
@import "./sass/layout/footer";