
@import "./sass/utils/vars";
// @import "./sass/utils/mixin";
// @import "./sass/utils/placeholder";
@import "./sass/base/reset";
@import './sass/base/visually-hidden';
//! @import './sass/layouts/slider';

// @import "./sass/base/common";
// @import './sass/components/buttons';
// @import './sass/components/links';
@import "./sass/components/container";

@import "./sass/layout/header";
@import "./sass/layout/home/hero";
@import "./sass/layout/home/cabins";
@import "./sass/layout/home/forest";
@import "./sass/layout/home/facilities";
@import "./sass/layout/home/more";
@import "./sass/layout/home/contacts";
@import "./sass/layout/footer";
